@font-face {
    font-family: 'Fira Sans';
    src: url('font/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('font/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/FiraSans-Regular.woff2') format('woff2'),
        url('font/FiraSans-Regular.woff') format('woff'),
        url('font/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('font/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'), local('FiraSans-Medium'),
        url('font/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/FiraSans-Medium.woff2') format('woff2'),
        url('font/FiraSans-Medium.woff') format('woff'),
        url('font/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('font/FiraSans-SemiBold.eot');
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
        url('font/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/FiraSans-SemiBold.woff2') format('woff2'),
        url('font/FiraSans-SemiBold.woff') format('woff'),
        url('font/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    --main-text: #242629;
    --secondary-blue-text: #7F99B2;
    --secondary-grey-text: #2828286d;
    --accent: #4089D2;
    --white-97: #F7F7F7;
    --block-blue: #E9EFF5;
    --block-grey: #F5F5F5;
}

@media (min-width: 1200px) {

    :root {
        --h1: 80px;
        --h2: 40px;
        --p: 24px;
        --des: 20px;
    }

    #mobile {
        display: none;
    }

    #mobile-start {
        display: none;
    }
    
    #web-tablet {
        display: flex;
    }


    #tablet {
        display: none;
    }
    
    #web {
        display: block;
    }
}

@media (max-width: 1199px) {

    :root {
        --h1: 70px;
        --h2: 36px;
        --p: 20px;
        --des: 16px;
    }

    #web {
        display: none;
    }

    #web-tablet {
        display: flex;
    }


    #tablet {
        display: block;
    }

    #mobile-start {
        display: none;
    }

    #mobile {
        display: none;
    }

    iframe {
        width: 100% !important;
        height: fit-content !important;
        aspect-ratio: 560 / 310;
    }

    .start_block,
    .aboutme_block,
    .portfolio-container,
    .footer {
        border-radius: 100px !important;
    }
}

@media (max-width: 767px) {

    .start_block_mobile {
        animation: none !important;
        transition: none !important;
    }

    :root {
        --h1: 36px;
        --h2: 24px;
        --p: 17px;
        --des: 15px;
    }

    #web {
        display: none;
    }

    #web-tablet {
        display: none;
    }

    #tablet {
        display: none;
    }

    #mobile {
        display: block;
    }

    #mobile-start {
        display: flex;
    }

    iframe {
        width: 100% !important;
        height: fit-content !important;
        aspect-ratio: 560 / 310;
    }

    .case-column {
        padding: 0 !important;
    }

    .start_block_mobile,
    .footer {
        border-radius: 60px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
        width: 100vw !important;
    }

    .portfolio-container {
        margin-top: 80px !important;
        width: 100vw;
        padding: 50px 0 !important;
        border-radius: 60px !important;
    }

    .portfolio-container h1 {
        margin-bottom: 50px !important;
    }

    .aboutme_block {
        border-radius: 60px !important;
        padding-left: 36px !important;
        padding-right: 36px !important;
        width: 100vw !important;
    }

    .start_block_mobile div,
    .start_block_mobile h2,
    .start_block_mobile h1 {
        padding: 0 !important;

    }

    #main_button {
        padding: 12px 30px !important;
    }

    .aboutme_block h2 {
        padding: 0 !important;
        margin-bottom: 20px !important;
        text-align: left !important;
    }

    .aboutme_block p {
        padding: 0 !important;
        text-align: left !important;
    }

    .start_block_mobile,
    .aboutme_block {
        padding-top: 80px;
        padding-bottom: 80px;
        height: fit-content !important;
    }

    .start_block_mobile img {
        width: 150px;
        height: 150px !important;
    }

    header {
        height: 50px;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .skill-type p {
        line-height: 120% !important;
    }

    .popup-content,
    .popup-images {
        padding: 0 16px 0 16px !important;
    }

    .popup-images {
        margin-top: 50px !important;
    }

    .popup-images img {
        margin-bottom: 8px !important;
    }
    
    .close-btn {
    top: 10px !important;
    right: 10px !important;
    width: 40px !important;
    height: 40px !important;
    }

    .popup {
        padding: 50px 0 100px 0 !important;
    }

    p.popup-content {
        margin-top: 20px !important;
    }

    .aboutme_block::after,
    .aboutme_block::before,
    .portfolio-container::after,
    .portfolio-container::before {
        width: 300px !important;
        height: 300px !important;
        filter: blur(40px) !important;
    }

    .skill-block {
        padding: 15px 20px !important;
        border-radius: 30px !important;
    }

    .skill-bar {
        height: 7px !important;
    }

    .skills-row {
        padding: 0 24px !important;
        margin-top: 40px !important;
    }

    .case-card {
        margin-bottom: 20px !important;
    }

    .footer div.skills-row {
        margin-top: 0px !important;
    }

    .footer {
        padding-top: 60px !important;
    }
}

body {
    background-color: white;
    font-family: 'Fira Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

p {
    font-weight: 400;
    font-size: var(--p);
    margin: 0;
    line-height: 170%;
}

h1 {
    font-weight: 600;
    font-size: var(--h1);
    margin: 0;
    line-height: 100%;
}

h2 {
    font-weight: 500;
    font-size: var(--h2);
    margin: 0;
    line-height: 150%;
}

.des {
    font-weight: 400;
    font-size: var(--des);
}

header {
    box-sizing: border-box;
    padding: 0 40px;
    border: #242629;
    color: var(--main-text);
    width: 100%; 
    max-width: 1200px; 
    height: 0px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    transition: height  0.5s ease;
}

header.show {
    height: 60px;
}

header a {
    font-size: var(--des);
    font-weight: 400;
    color: var(--main-text);
    text-decoration: none;
    text-align: center;
}

header a:hover {
    color: var(--accent);
}

header a:active {
    color: #133c65;
}

.start_block {
    box-sizing: border-box;
    background-color: var(--block-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    z-index: 1000;
    transition: position 0.5s ease;
    transition: height 0.5s ease;
}

.start_block_mobile {
    box-sizing: border-box;
    background-color: var(--block-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start_block.toHome {
    position: relative;
    height: 800px;
}

.hidden-element {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

img.hidden-element {
    height: 120px;
    transition: height  0.2s ease;
}

.start_block.show-elements .hidden-element {
    opacity: 1; /* Показываем элементы после завершения анимации */
}

.start_block.show-elements img.hidden-element {
    height: 300px; /* Показываем элементы после завершения анимации */
}

.start_block p {
    color: var(--secondary-blue-text);
}

#main_button {
    border: none;
    background-color: var(--accent);
    border-radius: 500px;
    padding: 20px 40px;
    display: inline-block;
    margin-top: 70px;
    cursor: pointer;
    text-decoration: none;

}

#main_button:hover {
    background-color: #2c6eaf;
}

#main_button:active {
    background-color: #133c65;
}

#main_button p {
    color: white;
    margin: 0;
    font-weight: 500;
    font-family: 'Fira Sans';
} 

.aboutme_block {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: var(--block-grey);
    width: 100%;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
}

.aboutme_block p {
    color: var(--secondary-grey-text);
    max-width: 1200px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 40px;
    opacity: 0;
}

.aboutme_block h2 {
    box-sizing: border-box;
    padding: 0 40px;
    color: var(--main-text);
    max-width: 1200px;
    text-align: center;
    opacity: 0;

}

.aboutme_block.visible p {
    transition-delay: 5s;
    transition: opacity 1s ease;
    opacity: 1;
}

.aboutme_block.visible h2 {
    transition-delay: 2s;
    transition: opacity 1s ease;
    opacity: 1;
}

.gradient-text {
    background: linear-gradient(to right, #A251AF, #deae01); /* Градиентный фон */
    -webkit-background-clip: text; /* Для WebKit-браузеров (Chrome, Safari) */
    -webkit-text-fill-color: transparent; /* Прозрачный текст, чтобы был виден градиент */
    background-clip: text; /* Для Firefox и других браузеров */
    text-fill-color: transparent; /* Для большинства современных браузеров */
}

.aboutme_block::before,
.aboutme_block::after {
    content: "";
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    border-radius: 50%; /* Делаем элементы круглыми */ /* Полупрозрачный цвет фона для кругов */
    filter: blur(100px); /* Применяем размытость */
    z-index: 0;
}

.aboutme_block::before {
    background: rgba(222, 169, 255, 0.2);
    width: 550px; /* Ширина круга */
    height: 550px; /* Высота круга */
    bottom: -50%; /* Расположение относительно верхнего края контейнера */
    left: 0%; /* Расположение относительно левого края контейнера */
}

.aboutme_block::after {
    background: rgba(255, 226, 169, 0.2);
    width: 550px; /* Ширина круга */
    height: 550px; /* Высота круга */
    bottom: -30%; /* Расположение относительно верхнего края контейнера */
    right: 0%; /* Расположение относительно левого края контейнера */
}

.skills-row {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
}

.skill-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 40px;
    background: var(--block-grey);
    border-radius: 60px;
}

.skill-type {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.skill-bar {
    width: 100%;
    border-radius: 500px;
    background: #dcdcdc;
    height: 10px;
}

.skill-bar div {
    height: 100%;
    border-radius: 500px;
    background: linear-gradient(to right, #ACD5FF, #4691DC);
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    background: var(--block-grey);
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 80px;
    justify-content: flex-start;
    border-radius: 200px;
}

.portfolio-container::before,
.portfolio-container::after {
    content: "";
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    border-radius: 50%; /* Делаем элементы круглыми */ /* Полупрозрачный цвет фона для кругов */
    filter: blur(100px); /* Применяем размытость */
    z-index: 0;
}

.portfolio-container::before {
    background: rgba(222, 169, 255, 0.2);
    width: 450px; /* Ширина круга */
    height: 450px; /* Высота круга */
    top: -50px; /* Расположение относительно верхнего края контейнера */
    left: -170px; /* Расположение относительно левого края контейнера */
}

.portfolio-container::after {
    background: rgba(255, 226, 169, 0.2);
    width: 550px; /* Ширина круга */
    height: 550px; /* Высота круга */
    top: -200px; /* Расположение относительно верхнего края контейнера */
    right: -200px; /* Расположение относительно левого края контейнера */
}

.case-column {
    display: flex;
    flex-direction: column;
}

.case-row {
    display: flex;
    flex-direction: row;
}

.case-card {
    box-sizing: border-box;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.case-card img {
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.15s ease;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
}

.card-overlay.active {
    opacity: 1;
}

.case-card:hover .card-overlay,
.case-card:active .card-overlay {
    opacity: 1;
}

/* Медиа-запрос для сенсорных устройств */
@media (hover: none) and (pointer: coarse) {
    .card:active .overlay {
        opacity: 1;
    }
}

.card-overlay p {
    font-weight: 500;
    max-width: 250px;
    line-height: 130%;
    text-align: center;
}

.badge {
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: var(--des);
    font-weight: 400;
    line-height: 100%;
    max-width: 250px;
    padding: 6px 15px;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin-top: 15px;
}

body.no-scroll {
    overflow: hidden; /* Отключаем прокрутку страницы */
}

.popup {
    display: none; /* Скрываем попап по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Затемнение фона */
    z-index: 1000; /* Поверх всех элементов */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0 150px 0;
    overflow-y: auto;
}

.popup .badge {
    margin-right: 10px;
    background: white;
    color: var(--main-text);
    max-width: none;
}

.popup-content,
.popup-images {
    color: white;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 40px;
}

.popup-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
}

.popup-images img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p.popup-content {
    color: rgba(255, 255, 255, 0.496) !important;
}

/* Кнопка закрытия */
.close-btn {
    position: fixed;
    top: 20px;
    right: 50px;
    cursor: pointer;
    color: white;
    z-index: 1001;
}

img.close-btn:hover {
    filter: brightness(2);
}

/* Скрытие попапа при нажатии вне контента */
.popup:target {
    display: flex;
}

.popup.open {
    display: flex; /* Показываем попап */
}

.up {
    color: rgba(255, 255, 255, 0.545);
    box-sizing: border-box;
    padding: 0 40px;
    margin: 50px 0 150px 0;
    cursor: pointer;
}

.up:hover {
    color: white;
}

html {
    scroll-behavior: smooth; /* Плавная прокрутка */
    overflow-x: hidden;
}

.footer {
    background-color: var(--block-blue);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 70px 0 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-top: 20px;
}

.footer .badge {
    font-size: var(--h2);
    color: var(--main-text);
    background-color: white;
    max-width: none;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid white;
}

.copy   {
    cursor: pointer;
    transition: scale 0.2s ease;
}

img.copy:hover {
    filter: brightness(0.7);
    scale: 1.1;
}

img.copy:active {
    scale: 0.8;
}

#copy-popup {
    display: block;
    width: 0px;
    color: var(--secondary-blue-text);
    z-index: 1000;
    box-sizing: border-box;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#copy-popup.show {
    opacity: 1;
}

#emailBtn {
    transition: scale 0.15s ease;
}

#emailBtn:hover {
    border: 1px solid var(--accent);
    scale: 1.03;
}

#emailBtn:active {
    scale: 0.95;
}